.sketchy{ /* A throw-away class for making notes in the wireframe */
	font-family: "Comic Sans MS", cursive, sans-serif;
	color:red;
	background-color:yellow;
	font-size:10px;
}
body{
	margin:0;
	padding:0;
}
.content{
	width:95%;
}
ul, li{
	border:0;
	margin:0;
	list-style-type:none;
}
h1{
	color: #3ab7a5;
    border-bottom: 1px solid #3ab7a5;
    margin: 30px 30px 25px;
    padding-bottom: 15px;
    font-size: 25px;
}
.workflow{
	background-color:#fff;
	padding:20px;
}
.workflow li.col{
	display:inline-block;
	width:33%;
	text-align:left;
	vertical-align: top;
}
.workflow li.col h2,
.older h2,
.older p{
	margin:0;
	padding:0 0 20px 20px;
}
.col p{
	padding:0;
	margin:0;
	font-size:12px;
}
.col p.notes-made{
	text-align:right;
}
.search{
	background-color:#272e30;
	width:100%;
	color:#fff;
	border-bottom:2px solid #3ab7a5;
}
.search input{
	padding:5px;
	margin:5px;
}


.cards li{
	display:inline-block;
	border:1px solid #999;

}
.editor,
.secondary{
	width:45%;
	float:left;
	margin:20px;
}
.editor{
	background-color:#eee;
}
.editor textarea{
	width:95%;
	height:500px;
	display:block;
}
.toolbar{
	display:block;
	clear:both;
	text-align:right;
}
.secondary{

	height:550px;
}
.secondary li{
	display:inline-block;
}
li.draft ul li,
li.review ul li,
li.publish ul li{
	border:1px solid #000;
	border-left:5px solid #fff;
	list-style-type:none;
	padding:10px;
	margin:0;
	margin-bottom:12px;
}
p.action.publish{
	border:1px solid #000;
	border-left:5px solid #fff;
	border-color:#22D3AE;
	padding:5px;
}
p.action.review{
	border:1px solid #000;
	border-left:5px solid #fff;
	border-color:#FF7900;
	padding:5px;
}
p.comment{
	border:1px solid #000;
	padding:5px;
}
.status{
	margin:0;
	text-align:right;
}
.status span{
	padding:5px;

}
li.draft ul li{
	border-color:#FC5B86;
}
span.draft{
	background-color:#FC5B86;
	color:#fff;
}
li.review ul li{
	border-color:#FF7900;
}
span.review{
	background-color:#FF7900;
	color:#fff;
}
li.publish ul li{
	border-color:#22D3AE;
}
span.publish{
	background-color:#22D3AE;
	color:#fff;
}